h1 {
    color: green;
    font-style: italic;
  }

  li {
    color: grey;
    padding-top: 10px;
    font-size: 15px;
  }

  .notificacion {
    color: green;
    background: rgb(132, 212, 122);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }  